/*TODO Replace with Real CSS for Real Menu*/
.menu-placeholder {
  background-color: #f2f2f2;
  height: 170px;
  width: 100%;
}

.row {
  padding: 10px 0;
  width: 100%;
  margin: 0;
}

.title {
  padding-top: 80px;
  padding-bottom: 30px;
}
.title-menu {
  font-weight: 100;
  font-size: 14px;;
}
.banner {
  padding: 0;
  width: 100%;
  height: 500px;
}
.banner img {
  z-index: 0;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}
#banner_1 {
  background-image:url('../img/force.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#banner_2 {
  background-image:url('../img/force_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#banner_3 {
  background-image:url('../img/force_3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.new-heights {
  padding-top: 40px;
}
.new-heights p {
  width: 40%;
  margin: 0 auto;
  font-size: 14px;
}

.button-row .col {
    padding: 4px;
}

.latest-styles {
  padding: 0 60px;
}

.latest-styles h3 {
  padding-bottom: 20px;
}

.latest-styles p {
  font-size: 12px;
  text-align: left;
  line-height: 8px;
}
.latest-styles img {
  width: 99%;
}


.title-p {
  padding-top: 10px;
  color: black;
}
.content-p {
  color: #999;
}
.title-p:hover, .content-p:hover, .title-p:hover + .content-p,  {
  text-decoration: underline;
}
a:hover > p {
  text-decoration: underline;
}

.title-p:hover + .content-p {
  text-decoration: underline;

}

.latest-from .col {
  padding-left: 0;
}

#life-1 {
  padding: 0;
  background-image:url('../img/life_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#life-2 {
  padding: 0;
  background-image:url('../img/life_2.jpg');
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}
#life-3 {
  padding: 0;
  background-image:url('../img/life_3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.latest-from {
  border-top: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  margin-right: 3%;
  margin-left: 3%;
  width: 94%;
}

.best-selling {
  padding: 20px;
}
.best-selling h3 {
  padding-left: 60px;
}

.best-selling p {
  font-size: 13px;
  margin-bottom: 5px;
}
.best-selling img {
  width: 99%;
}

.layer-smarter {
  background-color: #bdc7c9;
  padding: 0;
  color:
}
#layer-smarter-img {
  background-image:url('../img/layer_smarter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}
.layer-smarter h2 {
  margin-top: 50%;
  font-size: 24px;
}
@media screen and (max-width: 576px) {
  .layer-smarter h2 {
    margin-top: 10%;
  }
}
.layer-smarter p {
  font-size: 11px;
  line-height: 25px;
  padding: 0 90px;
}
.layer-smarter .hover-layer-blue {
  height: 650px;
  width: 100%;
  z-index: 2;
  padding: 0;
}

.layer-smarter-list img {
  width: 99%;
}

.layer-smarter-list p {
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
}

#smarter-1 {
  background-image:url('../img/jacket_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}
#smarter-2 {
  background-image:url('../img/hoodie_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}
#smarter-3 {
  background-image:url('../img/pants_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}

.latest-styles a:hover, .best-selling a:hover, .layer-smarter-list a:hover {
  text-decoration: none;
}

#shop-now {
  float: right;
}
