/*Defined fonts*/
:root {
  /*Global Variables*/

  /*Colors*/
  --header-color: #333;
  --subcontent-color: #666;
  --paragraph-color: #222;
  --button-color: #000;
  --line-color: #e5e5e5;
  --accent-color: 248, 247, 216;
  --secondary-accent-color: 189,199,201;


  /*Fonts*/
  --header-font: OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,sans-serif;
  --subcontent-font: OneNikeCurrency, Helvetica, Arial, sans-serif;
  --button-font: OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,sans-serif;;

}

h1 {
  color: var(--header-color);
  font-family: var(--header-font);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: var(--header-color);
  font-family: var(--header-font);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color: var(--header-color);
  font-family: var(--header-font);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

p {
  color: var(--paragraph-color);
  text-align: center;
}

button {
  font-family: var(--button-font);
  color: var(--button-color);
  background-color: Transparent;
  outline: none;
  border: 1px solid var(--line-color);
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 12px;
}
button:hover {
  cursor: pointer;
}

ul {
  text-align: center;
}
ul li {
  display: inline;
  font-family: var(--subcontent-font);
  color: var(--subcontent-color);
  padding-right: 15px;
}

li a {
  color: var(--subcontent-color);
}

li a:hover {
  color: var(--subcontent-color);
}

/*Custom Components*/
.list-divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  background: var(--subcontent-color);
  position: relative;
  top: 5px;
}
.hover-layer {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 2;
}

.hover-layer:hover {
  background-color: rgba(var(--accent-color), 0.7);
  z-index: 1;

  transition: background-color 0.5s ease;
}
.hover-layer-blue:hover {
  background-color: rgba(var(--secondary-accent-color), 0.7);
  z-index: 1;

  transition: background-color 0.5s ease;
}

.img-center-text {
  height: 400px;
  width: 100%;
  padding: 0;
  font-size: 24px;
}
.img-center-text:hover {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;

  transition: background-color .75s ease;
}
.img-center-text p {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
}
